<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.group2.concord_messenger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConcordMessenger"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.group2.concord_messenger"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
        <activity
            android:name=".UserProfileActivity"
            android:theme="@style/Theme.ConcordMessenger.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ContactsActivity"
            android:exported="false"
            android:parentActivityName=".ChatListActivity"/>
        <activity
            android:name=".ChatActivity"
            android:exported="true"
            android:parentActivityName=".ChatListActivity">
            <intent-filter>
                <action android:name="SHOW_DETAILS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatListActivity"
            android:exported="true"
            android:label="@string/title_activity_chat_list"
            android:theme="@style/Theme.ConcordMessenger.NoActionBar"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".model.MyFirebaseMessagingService"
            android:exported="false">
        </service>
    </application>

</manifest>